
body, .body {
margin : auto;
max-width : 700px;
font-family : tahoma;
font-size : 14px;
background : #fff;
box-shadow : 0 0 15px #bdc1c5;
}
.err {
margin : 1px;
background : #FAABAB;
padding : 9px;
color : #777;
border : #918A8A solid 1px;
text-shadow : 0 1px #FFC5C5;
}
.head {
overflow : hidden;
background : url(/style/themes/default/element_style/s.png) top repeat-x #bdccd5;
padding : 3px;
border : #DADADA solid 1px;
color : #366ea1;
margin-bottom : 1px;
}
.foot {
overflow : hidden;
background : url(/style/themes/default/element_style/s.png) top repeat-x #bdccd5;
padding : 10px;
border : #DADADA solid 1px;
text-align : center;
color : #366ea1;
margin-top : 2px;
}
.links {
margin : 1px;
background : #FDFDFD;
padding : 4px;
color : #222;
border : #C0C0C0 solid 1px;
border-radius : 10px;
}
.links:hover {
margin : 1px;
background : #EEEEEE;
padding : 4px;
color : #222;
border : #D8D8D8 solid 1px;
}
.links_t {
margin : 1px;
color : #C5C5C5;
border-radius : 5px;
}
.msg {
margin : 1px;
background : #FACEAB;
padding : 9px;
color : #777;
border : #C0C0C0 solid 1px;
text-shadow : 0 1px #FFC5C5;
}
.div, .p_m, .adm_panel {
margin : 1px;
background : url(element_style/s1.png) repeat-x #e7e7e7;
padding : 9px;
color : #777;
border : #ccc solid 1px;
text-shadow : 0 1px #fff;
}
.div img {
margin-bottom : -4px;
}
a.c1 {display: block}
a:link, a:active, a:visited {
color : #fff;
text-decoration : none;
}
a:hover {
text-shadow : 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
text-decoration : none;
}
.body {
border : #E7E7FD solid 2px;
background-color : #F9F9FF;
padding : 3px;
color : #243e99;
}
a:link, a:visited {
color : #238be4;
text-decoration : none;
}
a:hover {
color : #ff8700;
text-decoration : none;
}
